


body {
    font-family: Arial, sans-serif;
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
form {
     border: 3px solid rgb(22, 11, 109);
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
form input {
    margin: 2px;
    padding: 6px;
}
